<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="WebTestSuite" parallel="none" >

    <!--<test name="IETestCases">
         <parameter name="browser" value= "ie"/>

         <classes>
         <class name ="com.romanceabroad.ui.RegistrationTests"/>
         </classes>
         </test>

     <test name="FirefoxTestCases">
         <parameter name="browser" value="firefox"/>
         <classes>
         <class name ="com.romanceabroad.ui.RegistrationTests"/>
         </classes>
         </test>-->

    <test name="ChromeTestCases">
        <parameter name="testbox" value="sauce"/>
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="58.0"/>
        <parameter name="platform" value="Windows 10"/>

        <classes>
            <class name="com.romanceabroad.ui.MainTests">
            </class>
        </classes>
    </test>
    <test name="FirefoxTestCases">
        <parameter name="testbox" value="sauce"/>
        <parameter name="browser" value="Firefox"/>
        <parameter name="version" value="68.0"/>
        <parameter name="platform" value="macOS 10.14"/>

        <classes>
            <class name="com.romanceabroad.ui.MainTests">
            </class>
        </classes>
    </test>



    <test name="IETestCases">
        <parameter name="testbox" value="sauce"/>
        <parameter name="browser" value="Internet Explorer"/>
        <parameter name="version" value="11.285"/>
        <parameter name="platform" value="Windows 10"/>

        <classes>
            <class name="com.romanceabroad.ui.SignUpOnFlyOutTests">
            </class>
        </classes>
    </test>
</suite>

